main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.intro {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 70px;
}

.text-content {
    width: 540px;
    max-width: 100%;
    height: 460px;
    max-height: 100%;
    margin: 15px 5px -20px 15px;
}

.text-content h1 {
    margin-top: 0;
}

.text-content p {
    display: flex;
    line-height: 1.6;
    justify-content: center;
    text-align: justify;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px;
    margin-right: 10px;
}

.buttons button:hover {
    background-color: #ff4500;
    color: #ffffff;
}

.download-cv {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.download-cv img {
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: -4px;
}

.social-icons {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.icon img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);
}

.profile-picture {
    text-align: center;
    background-color: #ffffff;
    height: 440px;
    margin: 5px 10px 0 0;
}

.profile-picture img {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.profile-picture h2 {
    margin: 15px 0 5px 0;
}

.profile-picture p {
    margin: 0;
    font-size: 15px;
    color: #000000;
}