* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c6ced1;
}

.nav-link {
    font-size: 20px; 
}

.nav-link a {
  color: #ff4500;
  text-decoration: none;
  font-weight: 20px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.nav-link a:hover {
    color: #000000;
}

.btn-contact {
    background-color: #ff4500;
    color: #ffffff;
    padding: 7px;
    width: 97px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

.btn-contact:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Layout Responsive Navbar */
#hamburger-button {
    display: none;
}

.hamburger-nav-container {
    display: none;
}

.hamburger-nav-container a {
    color: #ff4500;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.hamburger-nav-container .active {
    background-color: orangered;
    color: #ffffff;
}

@media only screen and (max-width: 500px) {
    #hamburger-button {
        display: block;
    }

    .nav-collapse {
        display: none;
    }

    .hamburger-nav-container {
        display: flex;
        font-size: 20px;
        flex-direction: column;
    }
}
